{% extends "base.html" %}


{% block title %}
Машины
{% endblock %}



{% block content %}


<h2>
    Машины
</h2>



<div class="filter-box">

<form method="get">

    {{ filter.form.as_p }}

    <button type="submit">
        Найти
    </button>

</form>

</div>



<div class="table-wrapper">

<table>


<tr>

    <th>
        <a href="?ordering={% if ordering == 'factory_number' %}-factory_number{% else %}factory_number{% endif %}">
            Заводской номер
        </a>
    </th>


    <th>
        <a href="?ordering={% if ordering == 'machine_model__name' %}-machine_model__name{% else %}machine_model__name{% endif %}">
            Модель
        </a>
    </th>


    <th>
        <a href="?ordering={% if ordering == 'engine_model__name' %}-engine_model__name{% else %}engine_model__name{% endif %}">
            Двигатель
        </a>
    </th>


    <th>
        <a href="?ordering={% if ordering == 'shipment_date' %}-shipment_date{% else %}shipment_date{% endif %}">
            Дата отгрузки
        </a>
    </th>


</tr>



{% for machine in machines %}


<tr>


<td>

<a href="{% url 'machines:machine_detail' machine.pk %}">
    {{ machine.factory_number }}
</a>

</td>



<td>
    {{ machine.machine_model }}
</td>



<td>
    {{ machine.engine_model }}
</td>



<td>
    {{ machine.shipment_date }}
</td>


</tr>



{% empty %}


<tr>

<td colspan="4">

Машины не найдены

</td>

</tr>


{% endfor %}



</table>

</div>


{% endblock %}