{% extends "base.html" %}


{% block title %}
Техническое обслуживание
{% endblock %}



{% block content %}


<div class="card">


<h2>
    Техническое обслуживание
</h2>


<p>
    <b>Машина:</b>
    {{ maintenance.machine.factory_number }}
</p>


<p>
    <b>Вид ТО:</b>
    {{ maintenance.maintenance_type }}
</p>


<p>
    <b>Дата проведения:</b>
    {{ maintenance.maintenance_date }}
</p>


<p>
    <b>Ответственный сотрудник:</b>
    {{ maintenance.employee }}
</p>


<h3>
    Выполненные работы
</h3>


<div class="section-card">

<p>
    {{ maintenance.description }}
</p>

</div>


<a class="back" href="{% url 'maintenance:maintenance_list' %}">
    ← Назад к списку ТО
</a>


</div>


{% endblock %}