{% extends "base.html" %}


{% block title %}
Рекламация
{% endblock %}



{% block content %}


<div class="card">


<h2>
    Рекламация
</h2>


<p>
    <b>Машина:</b>
    {{ complaint.machine.factory_number }}
</p>


<p>
    <b>Дата рекламации:</b>
    {{ complaint.complaint_date }}
</p>


<p>
    <b>Статус:</b>
    {{ complaint.get_status_display }}
</p>


<h3>
    Описание неисправности
</h3>


<div class="section-card">

<p>
    {{ complaint.description }}
</p>

</div>


<a class="back" href="{% url 'complaints:complaint_list' %}">
    ← Назад к списку рекламаций
</a>


</div>


{% endblock %}