{% extends "base.html" %}


{% block title %}
Рекламации
{% endblock %}



{% block content %}



<h2>
    Рекламации
</h2>




<div class="filter-box">


<form method="get">


    {{ filter.form.as_p }}


    <button type="submit">
        Найти
    </button>


</form>


</div>





<div class="table-wrapper">


<table>



<tr>


    <th>
        <a href="?ordering={% if ordering == 'machine__factory_number' %}-machine__factory_number{% else %}machine__factory_number{% endif %}">
            Машина
        </a>
    </th>




    <th>
        <a href="?ordering={% if ordering == 'complaint_date' %}-complaint_date{% else %}complaint_date{% endif %}">
            Дата
        </a>
    </th>




    <th>
        <a href="?ordering={% if ordering == 'status' %}-status{% else %}status{% endif %}">
            Статус
        </a>
    </th>




    <th>
        Описание
    </th>



</tr>






{% for complaint in complaints %}



<tr>




<td>


<a href="{% url 'complaints:complaint_detail' complaint.pk %}">

    🔍 {{ complaint.machine.factory_number }}

</a>


</td>





<td>

    {{ complaint.complaint_date }}

</td>





<td>

    {{ complaint.get_status_display }}

</td>





<td>

    {{ complaint.description|truncatechars:50 }}

</td>





</tr>






{% empty %}



<tr>


<td colspan="4">

    Рекламаций нет.

</td>


</tr>



{% endfor %}





</table>


</div>




{% endblock %}