{% extends "base.html" %}

{% block title %}
Рекламации
{% endblock %}


{% block content %}

<h2>
    Рекламации
</h2>


<div class="filter-box">

    <form method="get">

        {{ filter.form.as_p }}

        <button type="submit">
            Найти
        </button>

    </form>

</div>



<div class="table-wrapper">

<table>

    <tr>

        <th>
            Машина
        </th>

        <th>
            Дата
        </th>

        <th>
            Статус
        </th>

        <th>
            Описание
        </th>

    </tr>


    {% for complaint in complaints %}

    <tr>

        <td>

            <a href="{% url 'complaints:complaint_detail' complaint.pk %}">
                🔍 {{ complaint.machine.factory_number }}
            </a>

        </td>

        <td>
            {{ complaint.complaint_date }}
        </td>

        <td>
            {{ complaint.get_status_display }}
        </td>

        <td>
            {{ complaint.description|truncatechars:50 }}
        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="4">
            Рекламаций нет.
        </td>

    </tr>

    {% endfor %}

</table>

</div>

{% endblock %}